mgx/ref_seqs/crassphage_refseq.fasta.*
mgx/ref_seqs/cs_ms_21.fasta.*
mgx/ref_seqs/err844030_ms_1.fasta.*
mgx/ref_seqs/err975045_s_1.fasta.*
mgx/ref_seqs/fferm_ms_11.fasta.*
mgx/ref_seqs/hvcf_a6_ms_4.fasta.*
mgx/ref_seqs/inf125_s_2.fasta.*
mgx/ref_seqs/nc_024711_crassphage.fasta.*
mgx/ref_seqs/sib1_ms_5.fasta.*
mgx/ref_seqs/srr4295175_ms_5.fasta.*

